{% extends 'base.html' %}

{% block content %}

<div class="container">
    <a href="{% url 'accounts:register-student' %}">Add Student</a>
    <br><br>
    <h2 class="mb-4">Student List</h2>

    {% for student in students %}
    <div class="card p-3 w-50 mb-2">
        <span><b>{{student.first_name}} {{student.last_name}}</b></span>
        <span>Email : {{student.email}}</span>
        <span>Organisation : {{student.org}}</span>
        <div class="d-flex mt-3">
            <a href="{% url 'org:student-edit' student.pk %}" class="btn btn-sm btn-primary mx-1">Edit</a>
            <a href="{% url 'org:student-delete' student.pk %}" class="btn btn-sm btn-danger mx-1">Delete</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}