{% extends 'base.html' %}
{% load sass_tags %}

{% block stylesheet %}

<link href="{% sass_src 'stylesheets/club_list/club_list.scss' %}" rel="stylesheet" type="text/css" />

{% endblock stylesheet %}

{% block content %}

<div class="container">
    <h1>Club Home</h1>

    {% if request.user.is_org %}
    <div class="container mb-3">
        <a href="{% url 'clubs:club-create'%}">Create club</a>
    </div>
    {% elif request.user.is_student %}
    <span>You are logged in as {{request.user.studentprofile.first_name}}
        {{request.user.studentprofile.last_name}}</span>
    <p>Email : {{request.user.studentprofile.email}}</p>
    {% endif %}
</div>

{% for club in clubs %}
<div class="container">
    <a class="card-link" href="{% url 'clubs:club-detail' club.pk %}">
        <div class="card my-3">
            <h5><b>{{ club.name }}</b></h5>
            <p>{{ club.description }}</p>
            {% if request.user.is_authenticated and request.user.is_org %}
            <div class="d-flex">
                <a href="{% url 'clubs:club-edit' club.pk %}" class="mx-1">
                    <button class="btn btn-sm btn-primary">Edit</button>
                </a>
                <a href="{% url 'clubs:club-delete' club.pk %}" class="mx-1">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </a>
            </div>
            {% endif %}
        </div>
    </a>
</div>
{% endfor %}

{% endblock content %}