{% extends 'base.html' %}

{% block content %}

<h1>Club Home</h1>

<div class="container mb-3">
    <a href="{% url 'clubs:club-create'%}">Create club</a>
</div>

{% for club in clubs %}
<div class="container">
    <a href="{% url 'clubs:club-detail' club.pk %}">
        <div class="card">
            <h3>{{ club.name }}</h3>
            <p>{{ club.description }}</p>
            <div class="d-flex">
                <a href="#" class="m-2">
                    <button class="btn btn-primary">Edit</button>
                </a>
                <a href="#" class="m-2">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
    </a>
</div>
{% endfor %}

{% endblock content %}